html,
body {
  min-width: 100% !important;
  min-height: 100% !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.banner {
  background-color: #000;
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  padding: 1%;
}

header nav {
  width: 100%;
  height: 5vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 20% 20% 40%;
  grid-template-columns: 20% 20% 20% 40%;
  border-bottom: 1px solid #a1a1a18a;
}

.header-1 {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.header-2 {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header-4 {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
}

header img {
  height: 4vw;
}

.hamburger {
  margin-left: 10%;
  background-color: transparent;
  border: none;
}

.fa-bars {
  font-size: 28px;
}

.fa-shopping-bag {
  font-size: 28px;
}

.cart {
  margin-right: 5%;
  background-color: transparent;
  border: none;
}

/**------------------------------------------        MAIN       -------------------------------------------------*/
main {
  padding-right: 1%;
  padding-left: 1%;
}

.b-sellers {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 1%;
}

.results {
  padding: 1%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 95% 5%;
  grid-template-columns: 95% 5%;
}

.results input {
  display: none;
}

.column-toggle {
  display: none;
  border: none;
  border-radius: 0;
  font-size: 22px;
  color: #000;
  background-color: transparent;
}

.options {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sort-by {
  border: 1px solid #d6d6d6;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 49%;
  line-height: 2;
  font-size: 15px;
  text-indent: 13%;
  background-color: #e2e2e2;
  text-transform: uppercase;
}

.filter-by {
  border: 1px solid #d6d6d6;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 49%;
  line-height: 2;
  font-size: 15px;
  text-indent: 14%;
  text-align: left;
  background-color: #e2e2e2;
  text-transform: uppercase;
}

.fa-sort {
  position: absolute;
  font-size: 23px;
  margin-left: 1.5%;
}

.fa-filter {
  position: absolute;
  font-size: 20px;
  margin-left: 51%;
}

/**---------------------------------------------------------      PRODUCTS       ----------------------------------------------- */
.items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
}

.product {
  width: 20vw;
  height: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10%;
}

.product-image {
  width: 100%;
  height: 70%;
  text-align: center;
  border-bottom: 1.3px solid #a1a1a13f;
  margin-bottom: 5%;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}

.prices {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.crossed-price {
  text-decoration: line-through;
  color: #808080e0;
  margin-right: 10%;
}

.price {
  font-weight: 500;
}

/**---------------------------------------------------------      DESCRIPTION       ----------------------------------------------- */
.darken {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #000000b9;
  z-index: 0;
}

.description-container {
  margin: 3%;
  margin-top: 3%;
  background-color: #ffffff;
  padding: 2%;
  padding-bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 0;
  border-radius: 1vw;
}

.close {
  width: 100%;
  text-align: right;
  font-size: 36px;
}

.description {
  text-align: left;
  line-height: 1.8;
}

.buy-now {
  width: 50%;
  border: none;
  border-radius: 0.5vw;
  padding: 2%;
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
}

/**---------------------------------------------------------      FILTER       ----------------------------------------------- */
.darken-filter {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b9;
  -webkit-animation: ease-in mist 0.15s;
  animation: ease-in mist 0.15s;
}

.filter-slide {
  position: fixed;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: #fff;
  -webkit-animation: ease-out slide 0.15s;
  animation: ease-out slide 0.15s;
}

.filter-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #f5f5f5;
}

.filter-header svg {
  font-size: 28px;
}

.filter-header h2 {
  font-size: 20px;
  text-transform: uppercase;
  width: 25%;
}

.clear-all {
  border: none;
  width: 10vw;
  height: 4vw;
  background-color: transparent;
  font-size: 14px;
}

.filters {
  padding: 5%;
  display: -ms-grid;
  display: grid;
}

.filters span {
  font-weight: 700;
  text-transform: uppercase;
}

.filters > * {
  padding-top: 2%;
  padding-bottom: 2%;
}

.filters input {
  width: 2vw;
  height: 2vw;
  border-radius: 0;
  border: 1px solid #d6d6d6;
  background: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin-right: 5%;
}

.filters input:checked {
  background-color: black;
}

.filters label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-container {
  width: 100%;
  margin-top: 5%;
  text-align: center;
}

.view-items {
  border: none;
  width: 65%;
  padding: 2%;
  line-height: 1.5;
  font-size: 18px;
  color: #fff;
  letter-spacing: 2px;
  background-color: #000;
}

/**---------------------------------------------------------      KEYFRAMES       ----------------------------------------------- */
@-webkit-keyframes mist {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes mist {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@-webkit-keyframes slide {
  from {
    opacity: 0%;
    right: -30%;
  }
  to {
    opacity: 100%;
    right: 0%;
  }
}

@keyframes slide {
  from {
    opacity: 0%;
    right: -30%;
  }
  to {
    opacity: 100%;
    right: 0%;
  }
}

/**---------------------------------------------------------      MOBILE       ----------------------------------------------- */
@media screen and (max-width: 700px) {
  .banner {
    padding: 3%;
  }
  header nav {
    height: 13vw;
    -ms-grid-columns: 15% 12% 48% 25%;
    grid-template-columns: 15% 12% 48% 25%;
  }
  header img {
    height: 10vw;
  }
  header div {
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .cart {
    margin-right: 10%;
  }
  .b-sellers {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
  }
  .description-container {
    margin: 3%;
    margin-top: 7%;
    background-color: #ffffff;
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 0;
    border-radius: 1vw;
  }
  .description {
    text-align: left;
    line-height: 1.5;
  }
  .items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
  }
  .product {
    width: 40vw;
    height: 60vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10%;
  }
  .column-toggle {
    display: block;
    border: none;
    border-radius: 0;
    font-size: 22px;
    color: #000;
    background-color: transparent;
  }
  .filter-slide {
    width: 70%;
  }
  .filter-header {
    padding: 3%;
  }
  .filter-header h2 {
    width: 50%;
  }
  .clear-all {
    width: 20vw;
    height: 8vw;
  }
  .filters > * {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .filters input {
    width: 5vw;
    height: 5vw;
  }
}
